apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
  namespace: smart-search
spec:
  type: ClusterIP
  selector:
    app: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
