apiVersion: v1
kind: ConfigMap
metadata:
  name: locustfile-config
  namespace: load-testing
data:
  locustfile.py: |
    from locust import HttpUser, task, between

    class WebsiteUser(HttpUser):
        wait_time = between(1, 3)

        @task
        def hit_index_structure(self):
            self.client.get(
                "/index-structure",
                params={
                    "userId": "68ed691c31e47fbfd7855e37",
                    "indexName": "test"
                }
            )
