apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: smart-search
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:25.0
          args:
            - start
          ports:
            - containerPort: 8080
          env:
            - name: KEYCLOAK_ADMIN
              value: admin
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: adminpassword

            - name: KC_DB
              value: postgres

            - name: KC_DB_URL
              value: jdbc:postgresql://keycloak-database-service.smart-search.svc.cluster.local:5432/keycloak_db

            - name: KC_DB_USERNAME
              value: keycloak

            - name: KC_DB_PASSWORD
              value: keycloak_pwd

            - name: KC_HTTP_ENABLED
              value: "true"

            - name: KC_HOSTNAME_STRICT
              value: "false"
